*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Poppins, Serif;
}
/*------------------Menu-------------------*/
.menu_Contenedor{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gold;
    height: 70px;
    width: 100%;
    border-bottom: 3px solid black;
}

.opciones{
    list-style: none;
    display: flex;
    justify-content: center;
}

.temas{
    padding: 0 20px;
    font-weight: bold;

}

.a-tema{
    color: black;
}

.lis-subtema{
    position: relative;
    list-style: none;
    text-align: center;
}

.temas .a-tema{
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    line-height: 70px;
    padding: 0 15px;
}

.autor{
    margin-left: 15px;
}
.a-tema:hover{
    color: white;
}

.subtemas{
    position: absolute;
    display: none;
    background: goldenrod;
    border: none;
}

.temas:hover .subtemas{
    display: flex;
    flex-direction: column;
    color:white;
    transition: .4ms;
}

.lis-subtema{
    border-bottom: 2px solid black;
    padding: 0 15px;
    text-align: center;
}

.lis-subtema:hover{
    background-color: #FCF3CF;
}

.lis-subtema a{
    text-decoration: none;
    display: flex;
    padding:15px 0;
    color: black;
    line-height: unset;
    white-space: nowrap; /*El texto no se vaya a dos lineas*/
}

/*------------------Main---------------*/

main{
    display: flex;
}

.aside-facebok{
    padding: 50px 20px;
}

.contenedor-section{
    width: 1000px;
}
.primer-section{
    margin:50px 40px;
    padding-bottom: 20px;
    border-bottom: 5px solid goldenrod;
    display: flex;
}

.primer-articulo{
    margin:80px 40px;
    padding-bottom: 20px;
    box-shadow: 5px 5px 10px 0px #aaaaaa;
    display: flex;
    flex-direction: column;
    border-bottom: 5px solid goldenrod;
}

.contenedor-autor{
    margin: 20px 230px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: gold;
    border: 2px solid black;
    border-radius: 20px;
    box: 5px 5px 5px 5px #aaaaaa;
}

.titulo-autor{
    color: black;
    text-transform: uppercase;
    text-align: center;
}

.titulo-autor-nombre{
    color: white;
    -webkit-text-stroke: 1px black;
    text-transform: uppercase;
    text-align: center;
}

.autor-imagen{
    height: 300px;
    width: 300px;
    border: 5px solid white;
    border-radius: 500px;
    margin: 30px 0;
}

.autor-contenedor-datos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 10px;
}



/*------------------footer---------------*/

.footer{
    width: 100%;
    height: 70px;
}
.contenido-footer{
    background: #504F47;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.contenido{
    margin: 0 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icono{
    margin: 0 8px;
}